.searchInput {
}

.searchForm {
  padding: 0 3%;
}

.resultsStyle {
  margin-top: 1.25rem;
  padding: 0 3%;
}

.resultStyle {
  border-top: solid 1px #efefef;
  padding: 1rem 0;
}

.resultStyle:last-child {
  border-bottom: solid 1px #efefef;
}

.noResultsStyle {
  padding: 0 3%;
  margin-top: 25%;
}

.titleClientBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 0.4rem;
}

.pen {
  margin: 0.1rem 0.3rem 0 0;
}
