.title {
    margin-top: 2.5rem;
}

.formGrid {
    display: grid;
    padding: 3.5%;
    grid-column-gap: 2%;
    grid-template-columns: repeat(12, 1fr);
}

.name {
    grid-column: 1 / 8;
}

.zipCode {
    grid-column: 8 / 13;
}

.address {
    grid-column: 1 / 13;
}

.number {
    grid-column: 1 / 4;
}

.neighbourhood {
    grid-column: 1 / 13;
}

.compliment {
    grid-column: 4 / 13;
}

.city {
    grid-column: 1 / 9;
}

.state {
    grid-column: 9 / 13;
}

.button {
    grid-column: 1 / 13;
    margin-top: 1.5rem;
}