.addButton {
  font-family: monospace;
  border-radius: 100%;
  font-size: 3.5rem;
  line-height: 0;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  padding: 0;
  transition: transform 0.4s ease-in-out;
}

.addWrapper {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
}

.addButtonActive {
  transform: rotate(45deg);
}

.addArea {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100px / 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--secondary-color);
  transition: height 0.4s ease-in-out;
}

.addAreaActive {
  height: 12rem;
  border-radius: 100px / 100px;
}

.addLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.addLink,
.addLink:focus,
.addLink:visited {
  color: #fff;
  font-size: 1.75rem;
}
