.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: var(--primary-color);
  min-height: 4.5rem;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.navbarContent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: auto;
  margin: 0 0.5rem;
}

.navbarIcons,
.navbarIcons:hover,
.navbarIcons:visited,
.navbarIcons:focus {
  font-size: 1.5rem;
  color: #fff;
}

.navbarLink,
.navbarLink:hover,
.navbarLink:visited,
.navbarLink:focus {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  font-weight: bolder;
}
