.page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    margin-bottom: 4.5rem;
}

.page.start {
    padding-top: 1rem;
    justify-content: flex-start;
}