.containerStyles {
    padding: 0 3%;
}

.disclaimerStyles {
    font-size: 14px;
}

.customerNameStyles {
    font-size: 16px;
}

.controlBarStyles {
    background-color: #EBEBEB;
    display: flex;
    justify-content: flex-end;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.65);
    margin-top: 1.3rem;
}

.petInfoStyles {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.3rem 1fr;
    row-gap: 1rem;
    align-items: center;
    grid-template-areas: "name race"
                       "observations observations";
}

.petNameStyles {
    grid-area: name;
}
.petRaceStyles {
    grid-area: race;
}
.petObsStyles {
    grid-area: observations;
}

.petListStyles {
    max-height: 60vh;
    overflow-y: auto;
}
.petListTrack {
    height: auto;
}