body {
  --primary-color: #00c0a4;
  --secondary-color: #2366d1;
  --main-black: #363636;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-black);
}

.button.is-primary {
  background-color: var(--primary-color);
}

.button.is-text {
  text-decoration: none;
}
